{% extends 'base.html' %}
{% load program_tags blog_tags thumbnail %}


{% block title %}{{ episode }} - {{ block.super }}{% endblock %}
{% block description %}{{ episode.description }}{% endblock %}

{% block meta %}
<meta property="og:title" content="{{ episode }}" />
<meta property="og:type" content="video.episode" />
<meta property="og:url" content="http://raportobiezyswiata.tv{{ episode.get_absolute_url }}" />
<meta property="og:image" content="http://raportobiezyswiata.tv{{ episode.image.url }}" />
<meta property="og:site_name" content="Raport Obieżyświata" />
<meta property="og:description" content="{{ episode.short }}"/>
<meta property="fb:admins" content="100000251304502" />
<meta property="video:series" content="http://raportobiezyswiata.tv{{ episode.program.get_absolute_url }}"/>
{% comment %}======== VIDEO PLAYER FOR FB ===========
<meta property="og:video" content="http://www.youtube.com/v/{{ episode.youtube_code }}?version=3&amp;autohide=1"/>
<meta property="og:video:type" content="application/x-shockwave-flash">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">{% endcomment %}
{% comment %} ADD LATER
    <meta property="video:tag" content="keyword">
{% endcomment %}
{% endblock %}

{% block disqus_id %}"episode_{{ episode.pk }}"{% endblock %}

{% block breadcrumbs %}
<div class="navbar-fixed navbar-breadcrumbs">
<nav class="{{ episode.program.slug }}-background">
  <div class="nav-wrapper">
    <a class="breadcrumbs" href="{{ episode.program.get_absolute_url }}">{{ episode.program }} #{{ episode.number|stringformat:"02d"}} </a>
    <span class="hide-on-med-and-down"> {{ episode.title }}</span>
    <ul class="right">
      <li class="hide-on-small-only"><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li class="hide-on-small-only"><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li class="hide-on-small-only"><a href="#"><i class="fa fa-star"></i></a></li>
      <li><a class="disqus disqus-comment-count" href="{{ episode.get_absolute_url }}#comments" data-disqus-url="http://raportobiezyswiata.tv{{ episode.get_absolute_url}}"><i class="fa fa-comment"></i></a></li>
    </ul>
  </div>
</nav>
</div>
{% endblock %}

{% block content %}
<div class="container video">
  <div class="row">
    <div class="col s12 l8 video-column">
      <div class="episode-box">
        <div class="video-box">
          <div class="video-container">
            <iframe width="640" height="360" src="http://www.youtube.com/embed/{{ episode.youtube_code }}?wmode=transparent&amp;showinfo=0&amp;theme=light&amp;modestbranding=0&amp;autoplay=0&hd=1" frameborder="0" allowfullscreen></iframe>
          </div>
          <nav class="white prev-next hide-on-med-and-up">
            <div class="nav-wrapper">
              {% with episode.get_previous_episode_in_program as ep %}
              {% if ep %}
              <ul class="left">
                <li class=""><a href="{{ ep.get_absolute_url }}"><i class="fa fa-arrow-left grey-text"></i></a></li>
              </ul>
              {% endif %}
              {% endwith %}
              {% with episode.get_next_episode_in_program as ep %}
              {% if ep %}
              <ul class="right">
                <li class=""><a href="{{ ep.get_absoolute_url }}"><i class="fa fa-arrow-right grey-text"></i></a></li>
              </ul>
              {% endif %}
              {% endwith %}
            </div>
          </nav>
        </div>
      </div>
      <div class="episode-details white block ">
        <h1>{{ episode.title }}</h1>
        <hr class="">
        <div class="fb-like" data-href="http://raportobiezyswiata.tv{{ episode.get_absolute_url }}" data-send="false" data-width="550" data-show-faces="true"></div>
        <div class="description">{{ episode.description|safe }}</div>
      </div>

      <div class="block tags">
        {% for tag in episode.tags %}
        <a class="chip" href="{% url 'tag_search_results' tag.name|slugify %}">{{ tag }}</a>
        {% endfor %}
      </div>

      <nav class="white block prev-next hide-on-small-only">
        <div class="nav-wrapper">
          {% with episode.get_previous_episode_in_program as ep %}
          {% if ep %}
          <ul class="left">
            <li class="">
              <a href="{{ ep.get_absolute_url }}" class="grey-text text-darken-3">
                <i class="fa fa-arrow-left"></i> #{{ ep.number|stringformat:"02d" }} {{ ep.title }}
              </a>
            </li>
          </ul>
          {% endif %}
          {% endwith %}
          {% with episode.get_next_episode_in_program as ep %}
          {% if ep %}
          <ul class="right">
            <li><a class="grey-text text-darken-3" href="{{ ep.get_absolute_url }}">#{{ ep.number|stringformat:"02d" }} {{ ep.title }} <i class="fa fa-arrow-right"></i></a></li>
          </ul>
          {% endif %}
          {% endwith %}
        </div>
      </nav>

      <div class="col s12 details">
        {% include '_disqus.html' %}
      </div>

    </div>


    <div class="col s12 l4 episodes-box">
      <h3 class="hide-on-large-only"><a href="#" class="episodes-list-toggle "><i class="fa fa-caret-down"></i> Wszystkie odcinki w serii</a></h3>
      <h3 class="hide-on-med-and-down">Wszystkie odcinki w serii</h3>
      <div class="episodes-list">
        {% for e in episode.program.episode_set.all|dictsortreversed:"number" %}
        <a id="episode_{{e.number}}" href="{{ e.get_absolute_url }}">
          <div class="col s12 episodes-list-item {% if e == episode %}current-episode {{ episode.program.slug }}-background{% endif %}">
            <div class="col s3 l5 image">
              <img src="{% thumbnail e.image '200x100' crop %}" alt="" class="responsive-img">
            </div>
            <div class="col s9 l7">
            #{{ e.number|stringformat:"02d" }}: {{ e.title }}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col s12 l4 side">
        {% similar_episodes_by_tags_list episode.tags limit=4 header="Podobne materiały" %}
        {% similar_entries_by_tags episode.tags limit=4 header="Powiązane aktualności" %}
        {% similar_programs_by_tags episode header="Inne programy" %}
      </div>
    </div>

  </div>
</div>

<div class="container">

  <div class="row">
      {% similar_episodes_by_tags episode 4 header="Może cię także zainteresować" %}
  </div>
</div>
{% endblock %}
