<footer class="page-footer">
  <div class="bottom-nav container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Raport Obieżyświata</h5>
        <p class="grey-text text-lighten-4">
          Pierwszy profesjonalny kanał telewizji internetowej poświęcony tematyce fantastyki i popkultury.
          Znajdziesz u nas recenzje książek i gier, nagrania i relacje z największych festiwali, konwentów oraz nowych, wartych uwagi imprez tematycznych.
          Przekazujemy doniesienia ze świata fantastyki i dyskutujemy z gośćmi o bieżących wydarzeniach.
        </p>
      </div>
      <div class="col l2 offset-l2 s12">
        <h5 class="white-text">Na skróty</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/o-nas/">O nas</a></li>
          <li><a class="grey-text text-lighten-3" href="/ekipa/">Ekipa</a></li>
          <li><a class="grey-text text-lighten-3" href="/kontakt/">Współpraca</a></li>
          <li><a class="grey-text text-lighten-3" href="{% url 'program_list' %}">Nasze programy</a></li>
          <li><a class="grey-text text-lighten-3" href="/kontakt/">Kontakt</a></li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h5 class="white-text">Bądź na bieżąco</h5>
        <div style="margin-top: 20px">{% include "logo.svg" %}</div>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://facebook.com/raport.obiezyswiata"><i class="fa fa-facebook"></i> / raport.obiezyswiata</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/_rotv"><i class="fa fa-twitter"></i> / _ROTV</a></li>
          <li><a class="grey-text text-lighten-3" href="https://youtube.com/raportobiezyswiata"><i class="fa fa-youtube"></i> / raportobiezyswiata</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container footer-notes">
    <div class="row">
      <div class="col s12 l9">
        © 2017 Raport Obieżyświata
      </div>
      <div class="col s12 l3 right">
        <a class="grey-text text-lighten-4 right" href="/cookies/">Ciasteczka</a>
      </div>
    </div>
  </div>
</footer>
