<ul id="nagrania-slide-out" class="side-nav">
  <li><a href="#!">FALKON 2016</a></li>
  <li><a href="#!">Imladris XV</a></li>
  <li><a href="#!">Polcon 2016</a></li>
  <li><a href="#!">Dni Fantastyki 2016</a></li>
  <li><a href="#!">Fornost 2016</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Archiwum nagrań<i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">Pyrkon 2015</a></li>
            <li><a href="#!">FALKON 2015</a></li>
            <li><a href="#!">Polcon 2012</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
