<div id="recent-slide-out" class="side-nav">
  <div class="row">
    <div class="col s12 l6">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/media/episodes/kontroll_15.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Premiera Łotra 1 w kinie Nowe Horyzonty<i class="material-icons right">more_vert</i></span>
          <p>Podczas wydarzenia odbyły się konkursy i inscenizacja. Przed seansami uczestnicy mieli także okazję spotkać się z ponad 40 postaciami z uniwersum Star Wars.</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Premiera Łotra 1 w kinie Nowe Horyzonty<i class="material-icons right">close</i></span>
          <p>Premiera filmu Łotr 1 - Gwiezdne Wojny: Historie zorganizowana przez Wrocławski Fanklub Gwiezdnych Wojen i Kino Nowe Horyzonty.</p>
          <p>Podczas wydarzenia odbyły się konkursy i inscenizacja. Przed seansami uczestnicy mieli także okazję spotkać się z ponad 40 postaciami z uniwersum Star Wars.</p>
        </div>
        <div class="card-action">
          <a href="#" class="green-text darken-4">Zobacz odcinek</a>
        </div>
      </div>
    </div>
    <div class="col s12 l6">
      <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/media/episodes/kontroll_15.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Premiera Łotra 1 w kinie Nowe Horyzonty<i class="material-icons right">more_vert</i></span>
          <p>Podczas wydarzenia odbyły się konkursy i inscenizacja. Przed seansami uczestnicy mieli także okazję spotkać się z ponad 40 postaciami z uniwersum Star Wars.</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Premiera Łotra 1 w kinie Nowe Horyzonty<i class="material-icons right">close</i></span>
          <p>Premiera filmu Łotr 1 - Gwiezdne Wojny: Historie zorganizowana przez Wrocławski Fanklub Gwiezdnych Wojen i Kino Nowe Horyzonty.</p>
          <p>Podczas wydarzenia odbyły się konkursy i inscenizacja. Przed seansami uczestnicy mieli także okazję spotkać się z ponad 40 postaciami z uniwersum Star Wars.</p>
        </div>
        <div class="card-action">
          <a href="#" class="green-text darken-4">Zobacz odcinek</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l4">
      <a class="brief" href="#!aaa">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/media/episodes/kontroll_15.jpg">
            <span class="card-title activator" style="">
              Premiera Łotra 1 w kinie Nowe Horyzonty</span>
        </div>
      </div>
      </a>
    </div>
    <div class="col s12 m6 l4">
      <a class="brief" href="#!aaa">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/media/episodes/kontroll_15.jpg">
            <span class="card-title activator" style="">
              Premiera Łotra 1 w kinie Nowe Horyzonty</span>
        </div>
      </div>
      </a>
    </div>
    <div class="col s12 m6 l4">
      <a class="brief" href="#!aaa">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/media/episodes/kontroll_15.jpg">
            <span class="card-title activator" style="">
              Premiera Łotra 1 w kinie Nowe Horyzonty</span>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>
