{% extends 'base.html' %}
{% load thumbnail blog_tags program_tags %}

{% block title %}{{ flatpage.title }} - {{ block.super }} {% endblock %}
{% block description %}{{ flatpage.content|striptags|truncatewords:"100"|force_escape }}{% endblock %}


{% block content %}
<div class="container entries flatpage">
  <div class="row">
    <div class="col s12 l8 xl9 entry-content-col">

      <div class="entry-content white">
        <header>
          <h1>
            {{ flatpage.title }}
          </h1>
          <hr>
        </header>

        <div class="flatpage-content">
          {{ flatpage.content|safe }}
        </div>
      </div>
    </div>
    <div class="col s12 l4 xl3">

      {% recent_episodes 2 header="Najnowsze materiały wideo" %}
      {% blog_last_entries 3 entry header="Ostatnie wpisy" %}
    </div>
  </div>

</div>
{% endblock content %}
